@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer components {
  .modal-backdrop {
    @apply absolute top-0 left-0 right-0 bottom-0 flex justify-center items-center z-50;
  }

  .modal {
    @apply relative flex flex-col justify-center items-center rounded-xl;
  }

  .modal-header {
    @apply bg-green-800 px-12 py-6 w-full rounded-t-lg;
  }
  .modal-footer {
    @apply bg-white px-12 py-6 rounded-lg;
  }

  .close-button {
    @apply absolute w-10 h-10 top-4 right-2 bg-transparent rounded-lg cursor-pointer flex items-center justify-center font-medium text-2xl hover:bg-green-600 after:content-['x'] after:text-white;
  }

  .card {
    @apply flex justify-center items-center h-48 rounded-lg no-underline text-black text-2xl font-medium;
  }
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}
